@model List<BugReport>

@{
	ViewData["Title"] = User.IsInRole("Administrator") ? "Zgłoszenia błędów" : "Twoje zgłoszenia";
}

<page-layout title="@ViewData["Title"]" title-icon="fa-bug">
	<div class="row">
		<div class="col">
			<ul class="list-group">
				@foreach (var Report in Model)
				{
					<partial name="_BugReportListItem" model="@Report" />
				}
			</ul>
		</div>
	</div>
</page-layout>
