$sc-green: #06a77d;
$sc-navy: #052f5f;
$sc-blue: #067bc2;
$sc-lightblue: #84bcda;
$sc-yellow: #ecc30b;
$sc-orange: #f37748;
$sc-red: #d56062;
$sc-lightnavy: #005377;
$sc-beige: #d5c67a;
$sc-black: #000;
$sc-white: #fff;

:root {
    --sc-black-10: #00000019;
    --sc-black-20: #00000033;
    --sc-black-30: #0000004c;
    --sc-black-40: #00000066;
    --sc-black-50: #0000007f;
    --sc-black-60: #00000099;
    --sc-black-70: #000000b2;
    --sc-black-80: #000000cc;
    --sc-black-90: #000000e5;

    --sc-white-10: #ffffff19;
    --sc-white-20: #ffffff33;
    --sc-white-30: #ffffff4c;
    --sc-white-40: #ffffff66;
    --sc-white-50: #ffffff7f;
    --sc-white-60: #ffffff99;
    --sc-white-70: #ffffffb2;
    --sc-white-80: #ffffffcc;
    --sc-white-90: #ffffffe5;


    --sc-blue-10: #067bc219;
    --sc-blue-20: #067bc233;
    --sc-blue-30: #067bc24c;
    --sc-blue-40: #067bc266;
    --sc-blue-50: #067bc27f;
    --sc-blue-60: #067bc299;
    --sc-blue-70: #067bc2b2;
    --sc-blue-80: #067bc2cc;
    --sc-blue-90: #067bc2e5;
    --sc-blue: #067bc2;


    --sc-lightblue-10: #84bcda19;
    --sc-lightblue-20: #84bcda33;
    --sc-lightblue-30: #84bcda4c;
    --sc-lightblue-40: #84bcda66;
    --sc-lightblue-50: #84bcda7f;
    --sc-lightblue-60: #84bcda99;
    --sc-lightblue-70: #84bcdab2;
    --sc-lightblue-80: #84bcdacc;
    --sc-lightblue-90: #84bcdae5;
    --sc-lightblue: #84bcda;


    --sc-yellow-10: #ecc30b19;
    --sc-yellow-20: #ecc30b33;
    --sc-yellow-30: #ecc30b4c;
    --sc-yellow-40: #ecc30b66;
    --sc-yellow-50: #ecc30b7f;
    --sc-yellow-60: #ecc30b99;
    --sc-yellow-70: #ecc30bb2;
    --sc-yellow-80: #ecc30bcc;
    --sc-yellow-90: #ecc30be5;
    --sc-yellow: #ecc30b;


    --sc-orange-10: #f3774819;
    --sc-orange-20: #f3774833;
    --sc-orange-30: #f377484c;
    --sc-orange-40: #f3774866;
    --sc-orange-50: #f377487f;
    --sc-orange-60: #f3774899;
    --sc-orange-70: #f37748b2;
    --sc-orange-80: #f37748cc;
    --sc-orange-90: #f37748e5;
    --sc-orange: #f37748;

    --sc-red-10: #d5606219;
    --sc-red-20: #d5606233;
    --sc-red-30: #d560624c;
    --sc-red-40: #d5606266;
    --sc-red-50: #d560627f;
    --sc-red-60: #d5606299;
    --sc-red-70: #d56062b2;
    --sc-red-80: #d56062cc;
    --sc-red-90: #d56062e5;
    --sc-red: #d56062;

    --sc-darkred: #842029;

    --sc-navy-10: #052f5f19;
    --sc-navy-20: #052f5f33;
    --sc-navy-30: #052f5f4c;
    --sc-navy-40: #052f5f66;
    --sc-navy-50: #052f5f7f;
    --sc-navy-60: #052f5f99;
    --sc-navy-70: #052f5fb2;
    --sc-navy-80: #052f5fcc;
    --sc-navy-90: #052f5fe5;
    --sc-navy: #052f5f;

    --sc-lightnavy-10: #00537719;
    --sc-lightnavy-20: #00537733;
    --sc-lightnavy-30: #0053774c;
    --sc-lightnavy-40: #00537766;
    --sc-lightnavy-50: #0053777f;
    --sc-lightnavy-60: #00537799;
    --sc-lightnavy-70: #005377b2;
    --sc-lightnavy-80: #005377cc;
    --sc-lightnavy-90: #005377e5;
    --sc-lightnavy: #005377;

    --sc-green-10: #06a77d19;
    --sc-green-20: #06a77d33;
    --sc-green-30: #06a77d4c;
    --sc-green-40: #06a77d66;
    --sc-green-50: #06a77d7f;
    --sc-green-60: #06a77d99;
    --sc-green-70: #06a77db2;
    --sc-green-80: #06a77dcc;
    --sc-green-90: #06a77de5;
    --sc-green: #06a77d;

    --sc-beige-10: #d5c67a19;
    --sc-beige-20: #d5c67a33;
    --sc-beige-30: #d5c67a4c;
    --sc-beige-40: #d5c67a66;
    --sc-beige-50: #d5c67a7f;
    --sc-beige-60: #d5c67a99;
    --sc-beige-70: #d5c67ab2;
    --sc-beige-80: #d5c67acc;
    --sc-beige-90: #d5c67ae5;
    --sc-beige: #d5c67a;
}
