@import '_colors';

:root {
  --sc-font: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  background: linear-gradient(80deg, var(--sc-yellow-50), var(--sc-orange-60)),
    linear-gradient(25deg, var(--sc-green-40), var(--sc-navy-30));
  background-attachment: fixed;
  font-family: var(--sc-font);
}

header {
  background-color: var(--sc-navy);
}

* {
  &:has(> .sc-tooltip) {
    position: relative;
  }

  & > .sc-tooltip {
    position: absolute;
    display: none;
    opacity: 1;
    top: calc(100% + 5px);
    left: 50%;
    transform: translate(-50%, 0);
    width: max-content;
    z-index: 1000;

    & .sc-tooltip-inner {
      background-color: var(--sc-black-50);
      color: white;
      padding: 10px;
      backdrop-filter: blur(5px);
      font-family: var(--sc-font);
      font-weight: 400;
      font-size: 1rem;
      border-radius: 5px;
    }
  }

  &:hover > .sc-tooltip {
    display: flex;
  }
}

.pet-status-badge {
  width: 100%;

  &.pet-status {
    &-AvailableForAdoption {
      background-color: $sc-orange;
    }
    &-Deceased {
      background-color: var(--sc-black-40);
    }
    &-InTemporaryHome {
      background-color: $sc-lightblue;
    }
    &-AdoptionCompleted {
      background-color: var(--sc-green);
    }
    &-Admitted {
      background-color: $sc-yellow;
    }
  }
}

.alert-danger {
  background-color: var(--sc-red);
  color: white;
}

.validation-summary-errors ul {
  list-style: none;
  padding: 0;
}

@import '../lib/bootstrap-scss/_functions.scss';
@import '../lib/bootstrap-scss/_variables.scss';
@import '../lib/bootstrap-scss/_mixins.scss';

$theme-colors: (
  'primary': $sc-lightnavy,
  'secondary': $sc-navy,
  'danger': $sc-red,
  'success': $sc-green,
  'info': $sc-lightblue,
  'warning': $sc-yellow,
  'dark': $sc-black,
  'light': $sc-white,
);

.bg-orange {
  background-color: $sc-orange !important;
}

.dropdown-menu {
  background-color: var(--sc-orange-50) !important;
  backdrop-filter: blur(10px);

  & .dropdown-item {
    color: $sc-navy !important;
    transition: all 0.2s;

    &:hover {
      color: $sc-white !important;
      background-color: var(--sc-blue-30) !important;
    }
  }
}

.page-title {
  display: flex;
  gap: 20px;
  align-items: center;
}

@import '../lib/bootstrap-scss/bootstrap.scss';

table {
  overflow: auto;
  max-width: 100%;
}
