@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
	var UserProfile = Context.Items["UserProfile"] as UserProfile;
}

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				<icon name="fa-user" />

				Witaj, @UserProfile.ProfileName("{f}")
			</a>

			<ul class="dropdown-menu " style="right: 0; left: unset;">
				<a class="dropdown-item" href="@Url.Action("Edit", "UserProfiles", new { Id = null as int? })">
					<icon name="fa-address-card" />
					Profil
				</a>

				<a class="dropdown-item" asp-controller="Pets" asp-action="Owned">
					<icon name="fa-paw" />
					Twoje Zwierzęta
				</a>

				<a class="dropdown-item" asp-controller="Appointments" asp-action="Index">
					<icon name="fa-calendar" />
					Twoje Spotkania
				</a>

				<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
					asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
					<button type="submit" class="dropdown-item btn btn-link">
						<icon name="bi-box-arrow-in-right" />
						Wyloguj
					</button>
				</form>
			</ul>

		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link" asp-controller="UserProfiles" asp-action="Register">
				Rejestracja
			</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" id="login" asp-controller="UserProfiles" asp-action="Login">Logowanie</a>
		</li>
	}
</ul>
