@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="">
		<div class="container-fluid">
			<a class="navbar-brand" asp-controller="Home" asp-action="Index">
				<i class="fas fa-shield-dog"></i> Schronisko
			</a>

			<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target=".navbar-collapse"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
				<ul class="navbar-nav flex-grow-1 gap-4">
					<li class="nav-item">
						<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
							<svg class="bi" width="24" height="24" fill="currentColor">
								<use xlink:href="/assets/bootstrap-icons.svg#house-door" />
							</svg>
							Home
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link">
							<img src="~/assets/cat.svg" width="24" height="24" />
							Zwierzaki
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link">
							<svg class="bi" width="24" height="24" fill="currentColor">
								<use xlink:href="/assets/bootstrap-icons.svg#calendar2-week" />
							</svg>
							Wydarzenia
						</a>
					</li>

					@if (User.IsInRole("Administrator"))
					{
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<svg class="bi" width="24" height="24" fill="currentColor">
								<use xlink:href="/assets/bootstrap-icons.svg#shield" />
							</svg>
							Administracja
							</a>

							<ul class="dropdown-menu">
								<a asp-controller="Pets" asp-action="Index" class="dropdown-item">
									<i class="bi bi-database"></i> Baza Zwierząt
								</a>
								<li class="dropdown-item"><i class="bi bi-person"></i> Użytkownicy</li>
								<li class="dropdown-item"><i class="bi bi-calendar"></i> Wydarzenia</li>
								<a asp-area="" asp-controller="BugReports" asp-action="Index" class="dropdown-item">
									<i class="bi bi-bug"></i> Zgłoszenia Błędów
								</a>
							</ul>
						</li>
					}
				</ul>
				<partial name="_LoginPartial" />
			</div>
		</div>
	</nav>
</header>
