@{
    ViewData["Title"] = "Konto zablokowane";
}

<h2>Twoje konto zostało zablokowane</h2>
<p>Po kilku nieudanych próbach logowania Twoje konto zostało zablokowane. Musisz zmienić swoje hasło, aby odblokować dostęp do konta.</p>