@model SystemZarzadzaniaSchroniskiem.Models.Breed

<div class="container">
  <div class="row">
    <div class="col-md-5">
      @Html.FormSelectFor(p => p.Species)
    </div>
    <div class="col-md-5">
      @Html.FormInputFor(p => p.Name)
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary">@(ViewBag.BreedFormButton ?? "Dodaj")</button>
    </div>
  </div>
</div>
